<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS179M Project Submission</title>
    <style>
        ol { list-style-type: none; }
        ol li::marker { content: counter(list-item) ") "; }
        .container { display: flex; justify-content: space-between; }
        .center { margin: auto; text-align: center;}
        .indent { text-indent: 5em;}
    </style>
</head>
<body>
    <div class="container">
        <p>Team Apex Global Inc.</p>
        <p class="center">(This webpage was last edited on 12-15-2024)</p>
    </div>
    <p class="indent">Sarah Armstrong, sarms013@ucr.edu</p>
    <p class="indent">Arya Thammanna, atham@ucr.edu</p>
    <p class="indent">Wesley Fan, wfan018@ucr.edu</p>
    <ol>
        <li><p>This file <a href="https://docs.google.com/document/d/11cxYbUOe8gVGiasKZi90Dn3xdzW9F3LEQKoKJpdcb8o/edit?usp=sharing">ApexGlobalInc.pdf</a> contains evidence of our efforts to plan our elicitation of 
            requirements from Mr. Keogh, and any notes taken during the elicitation.</p></li>
        <li><p>This file <a href="https://docs.google.com/presentation/d/1lWbOpuqUykI7XiiI8uLKnBKi4XFUYzhtCdUJH7AYugQ/edit?usp=sharing">ApexGlobalIncProjectPitchORIGINAL.pdf</a> contains our original pitch to Mr. Keogh, 
            which was delivered on November 1<sup>st</sup>, 2024, at 10:00pm.</p></li>
        <li><p>This file <a href="https://docs.google.com/presentation/d/1xWIs0UMUNaTBHrsszwNjZMofRIuwWkpB-3dr5dGFtPo/edit?usp=sharing">ApexGlobalIncProjectPitchCORRECTED.pdf</a> contains a new version of the pitch, with 
            all the corrections, amendments and deletions suggested by Mr. Keogh (and/or Dr. Keogh)</p></li>
        <li><p>This file <a href="https://docs.google.com/document/d/184cUe3xrxDcb-grrknA23r6CVMKZbUiUyreJmjj8Yos/edit?usp=sharing">ApexGlobalIncDesign.pdf</a> shows evidence of our efforts to design our software.</p></li>
        <li><p>This file <a href="https://docs.google.com/document/d/1yaLP0r3fpf5VpvaGGNr9OMep0XcmkrChQecdRd9ILxM/edit?usp=sharing">ApexGlobalIncTesting.pdf</a> which shows evidence of our efforts to test our software.</p></li>
        <li><p>This URL <a href="https://github.com/wesleyfan2015/ship_flask">github.com/ApexGlobalInc</a> points to a GitHub 
        repository of our code.</p></li>
        <li><p>This <a href="{}">YouTube video</a>, that shows our software solving one balance, and one transfer test case (our 
        choices, of the test cases Mr. Keogh gave us).</p></li>
        <li><p>This text file is the <a href="{}">KeoghsPort2024.txt</a> log that was created by our software, during the making 
        of the YouTube video in the previous bullet point.</p></li>
        <br>
        <li><p>We would like to point out the following limitations:
            <br>
            <ul>
                <li>Power cut recovery was not implemented</li>
                <li>Although the frontend is connected with the backend, the backend has multiple issues with rendering the grid and outputting each operation</li>
                <li>Although we have functions for logging and writing a new manifest, these could not be officially tested due to backend issues</li>
            </ul>
        </p></li>
        <br>
        <li><p>We each did a significant amount of work; however, we would like to mention that the reason this project is late is largely not Wesley's fault since he did his part well before the deadline. If possible, he shouldn't be docked for late penalty.</p></li>
    </ol>
</body>
</html>
