<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS179M Project Submission</title>
    <style>
        ol { list-style-type: none; }
        ol li::marker { content: counter(list-item) ") "; }
        .container { display: flex; justify-content: space-between; }
        .center { margin: auto; text-align: center;}
        .indent { text-indent: 5em;}
    </style>
</head>
<body>
    <div class="container">
        <p>Team Apex Global Inc.</p>
        <p class="center">(This webpage was last edited on 12-10-2024)</p>
    </div>
    <p class="indent">Sarah Armstrong, sarms013@ucr.edu</p>
    <p class="indent">Arya Thammanna, atham@ucr.edu</p>
    <p class="indent">Wesley Fan, wfan018@ucr.edu</p>
    <ol>
        <li><p>This file <a href="{}">ApexGlobalInc.pdf</a> contains evidence of our efforts to plan our elicitation of 
            requirements from Mr. Keogh, and any notes taken during the elicitation.</p></li>
        <li><p>This file <a href="{}">ApexGlobalIncProjectPitchORIGINAL.pdf</a> contains our original pitch to Mr. Keogh, 
            which was delivered on November 1<sup>st</sup>, 2024, at 10:00pm.</p></li>
        <li><p>This file <a href="{}">ApexGlobalIncProjectPitchCORRECTED.pdf</a> contains a new version of the pitch, with 
            all the corrections, amendments and deletions suggested by Mr. Keogh (and/or Dr. Keogh)</p></li>
        <li><p>This file <a href="{}">ApexGlobalIncDesign.pdf</a> shows evidence of our efforts to design our software.</p></li>
        <li><p>This file <a href="{}">ApexGlobalIncTesting.pdf</a> which shows evidence of our efforts to test our software.</p></li>
        <li><p>This URL <a href="https://github.com/wesleyfan2015/ship_flask">github.com/ApexGlobalInc</a> points to a GitHub 
        repository of our code.</p></li>
        <li><p>This <a href="{}">YouTube video</a>, that shows our software solving one balance, and one transfer test case (our 
        choices, of the test cases Mr. Keogh gave us).</p></li>
        <li><p>This text file is the <a href="{}">KeoghsPort2024.txt</a> log that was created by our software, during the making 
        of the YouTube video in the previous bullet point.</p></li>
        <br>
        <li><p>We would like to point out the following limitations:
            <br>
            bulletpoints
        </p></li>
        <br>
        <li><p>(EK says, this is optional) Here is some additional items you may find useful in grading the project.</p></li>
        <li><p>(EK says, this is optional) We would like to acknowledge the following resources that were helpful in completing 
            this project.
        </p></li>
    </ol>
</body>
</html>
